.mypage-container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.mypage-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile-section {
    margin-bottom: 30px;
}

.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.button-section button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background-color: #0F429D;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.button-section button:hover {
    background-color: #0c367c;
}

.logout-button {
    background-color: #ff4d4f; /* 빨간색 배경 */
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #d9363e; /* 마우스 올렸을 때 진한 빨강 */
  }
  