/* Fullscreen layout */
.ride-detail-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white; /* Dark blue theme */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align map at the top */
  color: white;
  font-family: "Arial", sans-serif;
}

.full-map {
  width: 100%; /* Make map take up full width */
  height: 100%; /* Make map take up full height */
  border-radius: 0; /* Remove rounded corners to make it fill the whole screen */
  margin-top: 0; /* Remove margin to align map to top */
}

/* Ride Information */
.ride-info {
  position: absolute;
  top: 15px; /* Place ride info at the top */
  width: 90%;
  max-width: 600px;
  padding: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8); /* Slightly transparent background for info */
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure it's on top of the map */
  margin-top: 0;
}

/* Ride Information Text */
.ride-info p {
  font-size: 18px;
  line-height: 1.6;
}

/* Loading Text */
.loading-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #1758A8;
}
