.social-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 70vh;
  padding-left: 20%;
  gap: 30px;
  background-color: white;
}

.button-container {
  width: 60%;
  padding: 20px;
  background-color: #1758A8;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container:hover {
  background-color: #124582;
}

.button-title {
  font-size: 24px;
  font-weight: bold;
}

.button-subtitle {
  font-size: 14px;
  font-weight: normal;
}
