.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 50vh;
  padding: 7%;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.main-button {
  width: 100%;
  padding: 40px;
  text-align: left;
  background-color: #0F429D;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color: #0c3579;
}

.main-button .title {
  font-size: 28px;
  font-weight: bold;
}

.main-button .subtitle {
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
  opacity: 0.8;
}
