.ride-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: white;
  }
  
  .ride-detail-container h1 {
    font-size: 28px;
    font-weight: bold;
    color: #0F429D;
    margin-bottom: 20px;
  }
  
  #map {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  